.header {
  padding-top: 48px;
  margin-bottom: 40px;
}

.header__logo {
  margin-bottom: 24px;
  @include tablet {
    margin: 0 auto 24px;
  }
}

.header__text {
  font-size: 20px;
  font-weight: 400;
  @include tablet {
    text-align: center;
  }
}

.header__banner-wrapper {
  display: flex;
  gap: 25px;
}

.header__banner {
  margin-bottom: 16px;
  min-width: 1920px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation-name: slide;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: 0.2s all;
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-200%, 0);
  }
}
