.terms__input {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
}

.terms__input:checked {
  background-color: $accentColor;
  border-color: $accentColor;
}

.terms__input:focus {
  // border-color: $whiteColor;
  // outline: 0;
  box-shadow: none;
}

.terms__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  margin-left: 6px;
}
