.transactions {
  margin-top: 48px;
  margin-bottom: 139px;

  *::-webkit-scrollbar {
    background: transparent;
  }

  *::-webkit-scrollbar:horizontal {
    height: 1em;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 99999px;
    border: 0.3125em solid transparent;
    background-clip: content-box;
  }
}

.transactions__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.transactions__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;

  @include tablet {
    margin-bottom: 330px;
  }
}

.transactions__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  max-height: 44px;

  img {
    margin-right: 13px;
  }
}

.transactions__table {
  display: block;
  border-radius: 24px;
  padding: 24px;
  background: $blockBackground;
  width: 100%;
  width: 100%;

  @include laptop {
    border-radius: 10px;
    padding: 16px;
    margin: 0 auto;
    max-width: 700px;
    overflow-x: scroll;
  }

  @media (max-width: 1024px) {
    max-width: 506px;
  }

  @include tablet {
    border-radius: 10px 0 0 10px;
    max-width: 100%;
    position: absolute;
    transform: translateX(-20px);
    top: 132px;
  }

  @include mobile {
    transform: translateX(-10px);
  }
}

.transactions__table tbody {
  display: flex;
  flex-direction: column;
}

.transactions__table tbody tr {
  font-family: $fontFamilySecond;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;

  @include laptop {
    width: 1105px;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.transactions__table tbody tr + tr {
  padding-bottom: 16px;
  border-bottom: 1px solid $white15Color;
}

.transactions__table tbody tr + tr + tr {
  padding: 16px 0;
  border-bottom: 1px solid $white15Color;
}

.transactions__table tbody tr th {
  font-family: $fontFamily;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 26px;

  @include laptop {
    font-size: 14px;
  }

  img {
    cursor: pointer;
    margin-left: 8px;
  }
}

.transactions__table tbody tr th,
.transactions__table tbody tr td {
  min-width: 160px;
}

.transactions__table tbody tr th:last-child,
.transactions__table tbody tr td:last-child {
  min-width: 90px;
}
