<footer class="footer-mobile">
  <div class="container">
    <div class="footer-mobile__wrapper">
      <a class="footer-mobile__logo" href="index.html">
        <img src="images/icons/logo.svg" alt="Logo." />
      </a>
      <nav class="footer-mobile__nav">
        <a class="footer-mobile__link" href="#">
          <img class="footer-mobile__link-icon" src="images/icons/home.svg" alt="Home.">
          <div class="footer-mobile__link-text">Home</div>
        </a>
        <a class="footer-mobile__link" href="#">
          <img class="footer-mobile__link-icon" src="images/icons/whitepaper.svg" alt="Whitepaper.">
          <div class="footer-mobile__link-text">Whitepaper</div>
        </a>
        <a class="footer-mobile__link" href="#">
          <img class="footer-mobile__link-icon" src="images/icons/tg.svg" alt="Telegram.">
          <div class="footer-mobile__link-text">Telegram</div>
        </a>
      </nav>
      <div class="footer-mobile__more">
        <a class="footer-mobile__more-link" href="#">Terms & Conditions</a>
        <a class="footer-mobile__more-link" href="#">Privacy</a>
      </div>
    </div>
  </div>
</footer>