<div class="menu-mobile" id="menuMobile">
  <div class="menu-mobile__content">
    <div class="menu-mobile__wrapper">
      <div class="menu-mobile__close" id="menuClose"></div>
      <div class="menu-mobile__inner">
        <img class="menu-mobile__logo" src="images/icons/logo.svg" alt="Logo.">
        <nav class="menu-mobile__nav">
          <a class="menu-mobile__link" href="index.html">
            <img class="menu-mobile__link-icon" src="images/icons/qr-icon.svg" alt="Dashboard.">
            <div class="menu-mobile__link-text">Dashboard</div>
          </a>
          <a class="menu-mobile__link --special" href="buy-bet.html">
            <img class="menu-mobile__link-icon" src="images/icons/dollar-icon.svg" alt="Buy.">
            <div class="menu-mobile__link-text">Buy $IBET</div>
          </a>
          <a class="menu-mobile__link" href="transactions.html">
            <img class="menu-mobile__link-icon" src="images/icons/transaction-icon.svg" alt="Transactions.">
            <div class="menu-mobile__link-text">Transactions</div>
          </a>
          <a class="menu-mobile__link" href="profile.html">
            <img class="menu-mobile__link-icon" src="images/icons/profile-icon.svg" alt="Profile.">
            <div class="menu-mobile__link-text">Profile</div>
          </a>
        </nav>
        <nav class="menu-mobile__nav-bottom">
          <a class="menu-mobile__link-bottom" href="#">
            <img class="menu-mobile__link-icon-bottom" src="images/icons/home.svg" alt="Home.">
            <div class="menu-mobile__link-text-bottom">Home</div>
          </a>
          <a class="menu-mobile__link-bottom" href="#">
            <img class="menu-mobile__link-icon-bottom" src="images/icons/whitepaper.svg" alt="Whitepaper.">
            <div class="menu-mobile__link-text-bottom">Whitepaper</div>
          </a>
          <a class="menu-mobile__link-bottom" href="#">
            <img class="menu-mobile__link-icon-bottom" src="images/icons/tg.svg" alt="Telegram.">
            <div class="menu-mobile__link-text-bottom">Telegram</div>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>