// svg {
//   stroke-width: 3;
// }

.body {
  position: relative;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: normal;
  color: $whiteColor;
  overflow-x: hidden;
  height: 100%;
  min-width: 320px;
  background: $accentBackground;
  background-attachment: fixed;
  // font-variant-numeric: lining-nums;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 256px 10fr;
}

.main {
  grid-column-start: 2;
  grid-column-end: 3;
}

.button {
  display: block;
  padding: 16px;
  border-radius: 56px;
  background: $accentColor;
  font-size: 16px;
  color: $whiteColor;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  transition: 0.3s all;

  &:hover {
    background: $purpleLightColor;
  }

  &:active {
    background: $purpleDarkColor;
  }
}

.button--alternative {
  &:hover {
  }

  &:active {
  }
}

*::selection {
  color: $blackColor;
  background: $accentColor;
}
