$fontFamily: 'Neue June', sans-serif;
$fontFamilySecond: 'Helvetica', sans-serif;
$fontSize: 16px;
$fontWeight: 400;
$whiteColor: #ffffff;
$white50Color: rgba(255, 255, 255, 0.5);
$white15Color: rgba(255, 255, 255, 0.15);
$blackColor: #13071b;
$purpleColor: #9c39fa;
$purpleLightColor: #cc9afc;
$purpleDarkColor: #694fa3;
$blockBackground: linear-gradient(60deg, #654aa0 2.07%, #fff 407.32%);
$accentBackground: linear-gradient(123deg, #13071b -0.8%, #8b38d1 246.51%);
$accentColor: #9c39fa;
